**/.idea
**/__pycache__/
**/data/
**/.DS_Store
**/results/
**/experiment_results/
**/.vscode
**/leaf/
**.egg-info
202**
eval/data**
eval/graphs**
**/massif.out*
*nohup_exec.txt
*swp
build
venv
interp
eval
eval_remote
eval_remote_backup
tutorial/**/*.png
out.png
out.edges
96_regular.edges
96_regular.png
regular_100_3.edges
regular_100_3.png

venv38